/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 15, 2016, 4:27:29 PM
    Author     : hartwick
*/

body {
	font-family: sans-serif;
	margin: 0 auto;
}

table {
	margin: 0 auto;
}

td {
	border: #000 solid 1px;
}